<div class="navbar">
  <div class="container">
    <div class="level">Image upload with Angular + Spring Boot</div>
  </div>
</div>
<section class="section">
  <div class="container">
    <p>This is an example that demonstrates how you can upload image along with some data, preview before uploading it and download & show
      it on the page.
    </p>
    <div class="columns">
      <div class="column is-4 is-offset-4">
        <div class="form-container">
          <div *ngIf="progress < 100">
            <progress class="progress is-primary" [value]="progress" max="100">{{progress}}%</progress>
          </div>

          <article *ngIf="showSuccessMessage" class="message is-success is-small">
            <div class="message-header">
              <p>Success</p>
              <button class="delete" aria-label="delete" (click)="showSuccessMessage=false;"></button>
            </div>
            <div class="message-body">
              Form data submitted successfully.
            </div>
          </article>

          <article *ngIf="errorMessage" class="message is-danger is-small">
            <div class="message-header">
              <p>Error</p>
              <button class="delete" aria-label="delete" (click)="showErrorMessage=false;"></button>
            </div>
            <div class="message-body">
              {{errorMessage}}
            </div>
          </article>

          <form class="form" name="form" #f='ngForm' (ngSubmit)="f.form.valid && submit(f)" novalidate>
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input" name="name" type="text" placeholder="Name" [(ngModel)]="name" #fname='ngModel' required>
              </div>
              <div *ngIf="f.submitted || fname.invalid && (fname.dirty || fname.touched)">
                <p *ngIf="fname.errors && fname.errors.required" class="help is-danger">Name is required</p>
              </div>
            </div>

            <div class="field">
              <div class="file has-name">
                <label class="file-label">
                  <input [(ngModel)]="file" #image='ngModel' class="file-input" type="file" name="image" accept="image/jpeg"
                    (change)="preview($event.target.files)" required>
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Choose a file…
                    </span>
                  </span>
                  <span class="file-name">
                    {{displayFileName}}
                  </span>
                </label>
              </div>
              <div *ngIf="f.submitted || image.invalid && (image.dirty || image.touched)">
                <p *ngIf="image.errors && image.errors.required" class="help is-danger">File is required</p>
              </div>
              <div *ngIf="previewUrl">
                <h3 >Preview</h3>
                <img [src]="previewUrl" height="100" width="150">
              </div>
            </div>


            <div class="field is-grouped">
              <div class="control">
                <button type="submit" class="button submit-btn">Submit</button>
              </div>
              <div class="control" *ngIf="progress == 100">
                <button type="button" class="button" (click)="showImage()">Download</button>
              </div>
            </div>
            <img [src]="imageUrl" width="150" height="100" *ngIf="imageUrl">

          </form>
        </div>

      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
      <div class="columns">
        <div class="column is-4 is-offset-4 text-center">


        </div>
      </div>
  </div>
</section>


